* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    color: #fff;
    font-family: 'Dongle', sans-serif;
    min-height: 100vh;
}

.container {
    background-color: aliceblue;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: tomato;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: violet;
    color: white;
}

.red {
    color:lightcoral;
}
.green { color: lightseagreen; }
.blue { color: rgb(55, 55, 231); }

.completed {
    text-decoration: line-through;
   
}
ul.todo-list {
    list-style-type: none;
}
.todo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 6px 10px;
}
li.todo-item {
    flex: 1;
    text-align: left;
    background-color: #fff;
}

.complete-btn {
    background-color: rgb(104, 189, 6);
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
}

.trash-btn {
    background-color: rgb(189, 6, 6);
    color: #fff;
    border: none;
    padding: 5px 10px;
}